<!--<app-server></app-server>
<app-server></app-server>-->
<!--<div app-server>attriute sselector</div>
<div app-server>attriute sselector</div>-->

<div class="app-server">class comp</div>

<div class="app-server">class comp</div>
<!--EVENT IN () BRACKETS-->
<button class="btn btn-primary" (click)="OnCreateServer()">Add Server</button>
<p>{{serverCreationStatus}}</p>
<!--TWO WAY DATA BIND-->
<input type="text" class="form-control" [(ngModel)]="serverName" />
{{serverName}}
<app-assignment></app-assignment>

-------------------------------------------------------------------------------------
<br />
---------ngiF - * STRUCTURAL DIRECTIVE-------(NGIF - ONLY WHEN UTTTON IS CLICKED..THEN ONLY MSG IS DISPLAYED :-)

<input type="text" class="form-control" [(ngModel)]="serverName" />
<button class="btn btn-primary" (click)="OnCreateServer()">Add Server</button>
<p *ngIf="ServerCreated else noServer">ngif - sERVER WAS created {{serverName}}</p>

<ng-template #noServer>
  no server was created
</ng-template>
<br />
--------------ngStyle -  [ATTRIUTE DIRECTIVE]------
<p [ngStyle]="{backgroundColor:getColor()}"
   [ngClass]="{online : status === 'online'}">{{status}}</p>
<br />
----------ngFor - * Structural Directive---------
<app-server *ngFor="let server of servers"></app-server>
